<!doctype html>
<html>
<head>
    <title>学生页面</title>
    <style>
        li button{
           margin-left: 20px;
        }
        #copy{
            font-size: 18px;
        }
    </style>


</head>
<body>
<h3>Classes</h3>
<ul id="classes">

</ul>
<h3>Json Result</h3>
<div id="json">
</div>
<script src="javascripts/jquery-2.0.3.min.js"></script>
<script src="javascripts/classes.js"></script>
</body>
</html>